body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

input, button {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

header,
nav, nav ul{
  display: flex;
}

header {
  width: 100%;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

#page-title {
  flex: 1;
  text-align: center;
  color: #2371df;
}

nav {
  flex: 1;
  justify-content: space-between;
  padding-right: 100px;
}

nav ul {
  list-style: none;
}

nav
li {
  padding: 10px;
}

h1 {
  font-size: 28px;
}

#register-btn {
  background-color: #2371df;
  color: white;
  box-shadow: 1px 1px 1px black;
}

#signin-btn {
  background-color: white;
  box-shadow: 1px 1px 1px black;
}

#register-btn,
#signin-btn {
  border: none;
  padding: 5px;
  width: 75px;
  border-radius: 5px;
}

#register-btn:hover {
  background-color: #336fc0;
}

#signin-btn:hover {
  background-color: rgb(244, 244, 244);
}

#register-btn:hover,
#signin-btn:hover {
  cursor: pointer;
}

#main-section-1 {
  color: white;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./assets/2-1.jpg);
  background-color: rgba(0, 0, 0, 0.5); 
  background-blend-mode: darken; /* Blend color with the image */
  display: flex;
  align-items: center;
}

#main-section-1 div {
  width: 50%;
  margin-left: 100px;
  padding: 20px;
}

#main-section-1-title {
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
}

#main-section-1-description {
  margin-top: -30px;
}

#shop-now {
  background-color: #2371df;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px;
  margin-top: 10px;
  width: 100px;
  height: 35px;
  font-weight: bold;
}

#shop-now:hover {
  cursor: pointer;
  background-color: #336fc0;
}

#main-section-2 {
  margin-top: 30px;
  padding: 20px;
}

#container {
  display: flex;
  width: fit-content;
  justify-content: center;
  position: relative;
}

#main-section-2-left-top {
  width: 20%;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 50px;
  position: absolute;
  bottom: 25px;
  left: 100px;
  height: 100%;
  background-color: #d2cdcb;
  z-index: 100;

}

#main-section-2-left {
  border-top-left-radius: 50px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 25px;
  width: 20%;
  background-image: url(./assets/stock-photo-fashionable-girl-posing-white-sweater-tweed-jacket-one-shoulder-grey.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1000;
}

#main-section-2-right {
  width: 50%;
  margin-left: 70px;

}

#gallery {
  padding: 90px;
  padding-top: 0;
}

#container1 {
  margin-top: 30px;

}

#gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery-item {
  flex: 1 1 calc(25% - 10px);
  
}

.gallery-item-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}

#main-section-3 {
  padding: 90px;
  padding-top: 10px;
  background: rgb(228,240,250);
  background: linear-gradient(180deg, rgba(228,240,250,1) 0%, rgba(255,255,255,1) 100%);

}

#reviews-section {
  text-align: center;
}

#reviews-caption {
  color: gray;
  font-size: 13px;
  margin-top: -20px;
}

#review-container {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.review-item {
  text-align: left;
  font-size: 14px;
  margin-right: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 12px;
  position: relative;
}

.review-item-top-quote {
  width: 35px;
  height: 35px;
  background-image: url(./assets/right-quotation-mark.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
    right: 15px;
  top: -15px;
}

.review-item-bottom-quote {
  width: 35px;
  height: 35px;
  background-image: url(./assets/quote-left.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
    left:15px;
  bottom: -15px;
}

.checked {
  color: orange;
}

.review-image {
  background-image: url(./assets/stock-photo-fashionable-girl-posing-white-sweater-tweed-jacket-one-shoulder-grey.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75px;
  width: 75px;
  border-radius: 100%;
}

.review-details {
  width: 200px;
  margin-left: 30px;
}

#contact-section {
  height: 480px;
  margin-top: 100px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 1px 1px 5px rgb(226, 226, 226);
  display: flex;
  padding: 20px;
}

#contact-details {
  background-color: #2371df;
  padding: 40px;
  color: white;
  border-radius: 25px;

}

.contact-details-item {
  display: flex;
  align-items: center;
}

.contact-details-item-icon {
  width: 50px;
  height: 50px;
  background-color:#2371df;
  text-align: center;
  align-items: center;
  line-height: 50px;
  font-size: 20px;

  border: 1px solid white;
  border-radius: 100%;
}

.contact-details-item-text {
  margin-left: 10px;
}

.contact-details-item-caption {
  margin-top: -15px;
  font-size: 12px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
}

#contact-form form {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  margin-top: 30px;
}

#contact-form input {
  flex: 1 1 calc(50% - 40px);
  border: none;
  border-bottom: 1px solid gray;
  margin-right: 10px;
  height: 50px;
padding-left: 10px;
}

#contact-form input:hover, #contact-form input:focus  {
  border: none;
  border-bottom: 2px solid gray;
}

#submit-contact {
  width: 200px;
  border: none;
  background-color: #2371df;
  color: white;
  border-radius: 5px;
  height: 30px;
  margin-bottom: 30px;
}

#submit-contact:hover {
  cursor: pointer;
  background-color: #336fc0;
}

footer {
  box-shadow: 0 -4px 5px rgb(226, 226, 226);
  padding: 20px;
}

.footer-section1 {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  
}

.footer-section1-main .title {
  font-weight: bold;
  font-size: 14px;
}

.footer-section1-main .sub-content {
  color: gray;
  font-size: 11px;
}

.footer-section1-sub {
  display: flex;
  justify-content: space-between;
  width: 50%;
  color: gray;
  font-size: 12px;

}

.footer-section1-sub .title {
  font-weight: 500;
  color: black;
  font-size: 13px;
}

.footer-section2 {
  text-align: center;
  font-size: 10px;
  margin-top: 30px;
  color: gray;
}

